.convinience{
   
    .inner__wrapper{        
    max-width: 810px;
    text-align: center;
    margin: 0 auto;
     
    p{
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.5;
        padding: 20px 0;
    }   
}
}
