@import url("../../App.scss");
.landing, .download-coa{
.inner__wrapper{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    img{
        margin-bottom: 70px;
    }
    h1{
        font-size: 30px;
        // padding-bottom: 24px;
    }
    p{
        font-size: 18px;
        padding: 24px 0;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        .btn{
            padding: 20px;
            border-radius: 30px;
            color: white;
            text-decoration: none;
            margin-top: 24px; 
        }
        
    }
}
}
@media screen and (min-width:"900px"){
    
.landing, .download-coa{
    .inner__wrapper {
        h1{
            font-size: 42px;
        }
        .buttons{
        display: block;
        padding-block: 40px;
        .btn{
            padding: 20px 56px;
        }
        .btn + .btn{
            margin-left: 16px;
        }
    }
}
}
}